 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/g30ade7afc1b2e8a18704f6ec6c87b206fadd6f74c08952f07c009bfe68db477770a100dc2b62384952aacd537b02591a4d34a593b702f9882f6474c2d81c3ed5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 533px;
}

.u-section-1 .u-text-1 {
  margin: 367px auto 60px;
}

.u-section-1 .u-text-2 {
  width: auto;
  margin: 27px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 256px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 234px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 198px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-2 {
  min-height: 702px;
  background-image: url("images/nn.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1190px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 702px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  border-style: none;
  text-align: center;
  font-weight: 700;
  margin: 35px auto 0;
  padding: 20px 47px 20px 46px;
}

.u-section-2 .u-image-1 {
  min-height: 702px;
  background-image: url("images/hhhh.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 456px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 579px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 72px;
  }

  .u-section-2 .u-image-1 {
    min-height: 579px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 297px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 54px;
  }

  .u-section-2 .u-image-1 {
    min-height: 687px;
    background-position: 26.97% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 539px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 50px 50px 60px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 570px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 359px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 529px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 67px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 40px auto 0 0;
  padding: 8px 33px;
}

.u-section-3 .u-image-1 {
  min-height: 409px;
  background-image: url("images/1.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-3 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 581px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-3 .u-image-1 {
    min-height: 366px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 398px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 112px;
  grid-gap: 17px;
  margin: 63px auto 60px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(8, auto);
  grid-gap: 37px;
}

.u-section-4 .u-over-slide-1 {
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 464px;
  }

  .u-section-4 .u-gallery-1 {
    height: 92px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 354px;
  }

  .u-section-4 .u-gallery-1 {
    height: 282px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1141px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 264px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 118px;
    height: 846px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2439px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 185px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2131px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}.u-section-5 .u-sheet-1 {
  min-height: 314px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none dotted;
  font-size: 1.875rem;
  margin: 40px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 30px auto -86px;
  padding: 0;
}