---
import Main from "../layout/main.astro";
import Base from "../layout/base.astro";
---

<Base>
    <Main>
        <div
            class=" lg:w-1/2 lg:px-0 px-4 flex flex-col items-start justify-start gap-6 py-8"
        >
            <h1 class="text-xl font-bold">About Me</h1>

            <section class="flex flex-col gap-2">
                <h2 class="text-lg font-semibold">Passionate Web Developer</h2>
                <p class="leading-8">
                    I'm a highly motivated web developer with a strong
                    foundation in JavaScript, Python, and PHP. I'm driven to
                    create web applications that are not only functional but
                    also engaging and intuitive for users. My passion lies in
                    crafting user-friendly experiences that prioritize both
                    functionality and user satisfaction.
                </p>
            </section>

            <section class="flex flex-col gap-2">
                <h2 class="text-lg font-semibold">
                    Continuous Learning & Growth
                </h2>

                <p class="leading-8">
                    I'm a firm believer in lifelong learning and constantly seek
                    opportunities to expand my skillset. I actively participate
                    in online courses and explore new technologies. Recently, I
                    implemented the Astro.js framework in a personal project,
                    which deepened my understanding of building fast and
                    SEO-friendly content websites.
                </p>
            </section>
            <section class="flex flex-col gap-2">
                <h2 class="text-lg font-semibold">Collaborative Teamwork</h2>

                <p class="leading-8">
                    I thrive in collaborative environments and excel as a team
                    player. During my time with the college Automation Cell, I
                    played a key role in developing a bus management system.
                    This project involved collaborating with teammates to
                    automate manual tasks and deliver a solution that met the
                    specific requirements of the management team.
                </p>
            </section>
            <a href="/projects" class="bg-black text-white rounded-full px-4 py-1"
                >Check out my work!</a
            >
        </div>
    </Main>
</Base>
