<footer>
    <p class="text f-text">Thanks for visitng</p>
    <p class="text">Made with <span style="color: #FC4850;">Love</span></p>
    <p class="text f-text">Not With HTML CSS JavaScript</p>
    <p class="text">© 2024 developed by Nitesh Singh Galician Flag</p>
</footer>
