---
import Logo from "./logo.astro";
---

<header class="shadow-sm rounded-b-2xl z-50 glass w-full">
    <div class="flex justify-between items-center p-3">
        <Logo />
        <nav>
            <ul class="flex gap-4">
                <li class="lg:block hidden "><a href="/projects">Projects</a></li>
                <li class="lg:block "><a href="/resume">Resume</a></li>
            </ul>
        </nav>
    </div>
</header>
