
<header class="">
    <nav class="nav c c-center c-v-center">
        <a
            class="">Ni</a
        >
        <h3 class="name">Nitesh Singh</h3>
        <p class="text">Developing real life super power</p>

        <!-- Social Media Links -->
        <div class="socialLinks">
            <a href="mailto:ni30singh420@gmail.com" class="socialLink"
                ><i class="bi bi-envelope-at-fill"></i></a
            >
            <a href="https://github.com/Niteshsingh2001" class="socialLink"
                ><i class="bi bi-github"></i></a
            >
            <a
                href="https://www.linkedin.com/in/nitesh-singh-641769209/"
                class="socialLink"><i class="bi bi-linkedin"></i></a
            >
        </div>

        <!-- Navigation Links -->
        <div class="links">
            <a href="#aboutme" class="link">About Me </a>
            <a href="#skill" class="link">Skills </a>
            <a href="#work" class="link">My Work </a>
        </div>
    </nav>
</header>
