---
import Info from "../data/info";
const { name, profile_image, description } = Info;
---

<header>
    <div
        class="size-20 bg-gray-800 rounded-full flex items-center justify-center text-4xl font-bold"
    >
        {
            profile_image ? (
                <img src={profile_image} alt={name} />
            ) : (
                <span class="text-white">{name.slice(0, 2)}</span>
            )
        }
    </div>
    <div>
        <div>
            <h1 class="text-3xl font-bold">{name}</h1>
        </div>
    </div>
    <p>{description}</p>
</header>
