---
import data from "../data/info";

const { social_links } = data;
import { FaGithub, FaLinkedin, FaEnvelope } from "react-icons/fa";
---

<div
    class="lg:absolute hidden z-50 right-10 gap-4 items-center justify-center lg:flex flex-col px-2 h-full"
>
    <!-- {social_links} -->

    {
        social_links.github && (
            <a target="_blank" href={social_links.github}>
                <FaGithub size={20} />
            </a>
        )
    }
    {
        social_links.linkedin && (
            <a target="_blank" href={social_links.linkedin}>
                <FaLinkedin size={20} />
            </a>
        )
    }
    {
        social_links.email && (
            <a target="_blank" href={social_links.email}>
                <FaEnvelope size={19} />
            </a>
        )
    }
</div>
