---
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <slot name="head" />

        <link rel="stylesheet" href="/assets/css/global.css" />
        <ViewTransitions />
    </head>
    <body>
        <div
            class="bg-pink-400 rounded-full blur-[300px] translate-x-[10%] translate-y-[-100%] absolute h-[80%] w-[80%]"
        >
        </div>
        <slot />
    </body>
</html>
