---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Social from "../components/social.astro";
---

<div class="flex flex-col justify-center items-center w-full">
    <Social />
    <Header />
    <slot />
    <Footer />
</div>
